@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 24 24 27;

  --primary-background: 139 92 246;
  --primary-foreground: 139 92 246;

  --secondary-background: 139 92 246;
  --secondary-foreground: 113 113 122;
}

body {
  background: rgb(var(--background));
}
