@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 24 24 27;
  --main: 139 92 246;

  --primary-background: ;
  --primary-foreground: 244 244 245;

  --secondary-background: 139 92 246;
  --secondary-foreground: 113 113 122;
}

body {
  background: rgb(var(--background));
}

.typewriter-text {
  font-weight: 600;
  min-width: 280px;
  color: #fff;
}

.typewriter-text span {
  position: relative;
}

.typewriter-text span::before {
  content: "Web Developer";
  color: rgb(34 197 94);
  animation: words 20s infinite;
}

.typewriter-text span::after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: rgb(var(--background));
  border-left: 2px solid rgb(34 197 94);
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid rgb(34 197 94) 00;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Web Developer";
  }
  21%,
  40% {
    content: "Full Stack Developer";
  }
  41%,
  60% {
    content: "Coding Geek";
  }
  61%,
  80% {
    content: "Backend Specialist";
  }
  81%,
  100% {
    content: "Tech Innovator";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
