@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 13, 18, 36;
  --main: 139, 92, 246;
  --typewriter: 34, 197, 94;

  --primary-background: ;
  --primary-foreground: 244, 244, 245;

  --secondary-background: 17, 24, 39;
  --secondary-foreground: 113, 113, 122;

  --border: 55, 65, 81;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-primary text-primary-foreground;
  }
}

* {
  scroll-behavior: smooth;
}

.typewriter-text {
  font-weight: 600;
  min-width: 280px;
  color: #fff;
}

.typewriter-text span {
  position: relative;
}

.typewriter-text span::before {
  content: "Web Developer";
  color: rgba(var(--typewriter));
  animation: words 20s infinite;
}

.typewriter-text span::after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: rgba(var(--background));
  border-left: 2px solid rgba(var(--typewriter));
  right: -8px;
  animation:
    cursor 0.8s infinite,
    typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid rgba(var(--typewriter));
  }
}

@keyframes words {
  0%,
  20% {
    content: "Web Developer";
  }
  21%,
  40% {
    content: "Full Stack Developer";
  }
  41%,
  60% {
    content: "Coding Geek";
  }
  61%,
  80% {
    content: "Backend Specialist";
  }
  81%,
  100% {
    content: "Tech Innovator";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

/* to remove default scroll bar  */

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* infinite carousel  */
.carousel {
  --card-width: 80px;
  --card-height: 80px;

  width: 100%;
  height: calc(var(--card-height));
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.carousel .track {
  width: 100%;
  height: 100%;
  min-width: calc(var(--card-width) * var(--card-items));
  display: flex;
  position: relative;
}

.carousel .track .card {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;

  transition: filter 0.5s;
  animation: move 10s linear infinite;
  animation-delay: calc((10s / var(--card-items)) * (var(--card-index) * -1));
}

@keyframes move {
  0% {
    left: 100%;
  }
  100% {
    left: calc(var(--card-width) * -1);
  }
}

.carousel:hover .card {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.carousel .card:hover {
  filter: grayscale(0);
}

.carousel[data-reverse="true"] .card {
  animation: reverseMove 10s linear infinite;
  animation-delay: calc((10s / var(--card-items)) * (var(--card-index) * -1));
}
@keyframes reverseMove {
  from {
    left: calc(var(--card-width) * -1);
  }
  to {
    left: 100%;
  }
}

@media (min-width: 768px) {
  .carousel {
    --card-width: 150px;
    --card-height: 150px;
  }
}
@media (min-width: 1024px) {
  .carousel {
    --card-width: 130px;
    --card-height: 130px;
  }
}

/* blob animation  */
.blob {
  background: linear-gradient(
    64deg,
    rgba(var(--main)) 23%,
    rgba(var(--main)) 23%,
    rgba(var(--typewriter)) 80%
  );

  border-radius: 28% 72% 22% 78% / 39% 23% 77% 61%;
  transform: rotate(0deg);
  will-change: border-radius, transform;

  animation:
    blob 2s ease-in infinite,
    spin 9s alternate-reverse infinite;
}

@keyframes blob {
  0%,
  100% {
    border-radius: 28% 72% 22% 78% / 39% 23% 77% 61%;
  }
  50% {
    border-radius: 72% 28% 50% 50% / 55% 26% 74% 45%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
